.user-pro-cont{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.img{
    background-color:#2d2d58;
}

.btn{
    background-color:#2d2d58;
}

.container{
    background-color:#EFEFFF;
}
.container-fluid{
    background-color: rgba(0, 0, 0, 0.6);
}
h5
{
 color:#2d2d58;
}
