<div class=" reset col-md-10 mx-auto col-lg-5 my-5 rounded">
    <div class="d-flex justify-content-center">
        <img src="../../../assets/logo.png" alt="Paris" class="center mt-3">
    </div>
    <div class=" update text-center rounded-pill mx-5 p-0 mt-5">
        <h5 class=" resetPass mt-1 mx-auto mb-1"><strong class="text-nowrap">Reset your password</strong> </h5>
      </div>
    <form class="p-4 p-md-5 " [formGroup]="resetForm">
        <label for="floatingPassword" class="ps-3">Password</label>

        <div class="form-floating mb-3 ">
           <input formControlName="pwd" type="password" placeholder="......" name="password" class="form-control "
               id="floatingInput" 
               [ngClass]="{ 'is-invalid': submitted && f['pwd'].errors }">
           <div *ngIf="submitted && f['pwd'].errors" class="invalid-feedback">
               <div *ngIf="f['pwd'].errors['required']"  class = "ps-3">Password is required</div>
               <div *ngIf="f['pwd'].errors['pwd']">Password must be at least 6 characters</div>
           </div>
       </div>

       <label for="floatingPassword" class="ps-3"> Comfirm Password</label>
   
        <div class="form-floating mb-3">
           <input formControlName="pwd1" type="password" placeholder="......" name="password2" class="form-control"
               id="floatingInput"
               [ngClass]="{ 'is-invalid': submitted && f['pwd1'].errors }">
           <div *ngIf="submitted && f['pwd1'].errors" class="invalid-feedback">
               <div *ngIf="f['pwd1'].errors['required']" class = "ps-3">Repeat Password is required</div>
               <div *ngIf="f['pwd1'].errors['mustMatch']">Passwords must match</div>
           </div>
       </div>
       <div class="d-flex justify-content-center mb-3">
        <button class="btn text-white" (click)="submit()">Reset</button>
    </div>
    </form>
</div>
